<h1>TODAY : <%=year %>-<%=month %>-<%=date %></h1>
<form action="gogogo">
    <select name ="year">
        <% for(let i = -5; i <= 5; i++){ %>
            <%  if( i == 0){%>
                <option selected><%= year %>년</option>
                <%  }else{%>
                <option><%= year + i%>년</option>
            <%  }%>
        <% } %>
    </select>
    <select name="month">
        <% for(let i = 1; i <= 12; i++){ %>
            <%  if( locals.month == i){%>
                <option selected><%=i %>월</option>
                <%  }else{%>
                <option><%=i %>월</option>
            <%  }%>
        <% } %>
    </select>
    <input type="submit" value="빌드" />
</form>


<table class="calenar" id="cal" style="display: none;"></table>
<div class ="cal_memo" style="display: none;">
    <h2>Memo</h2>
    <!-- <h3>dd</h3> -->
    <div id ="memo_day"></div>
    


    <input type ="text">
    <button>할일 추가</button>
</div>
<script src="js/calendar.js"></script>

<script>
    const c = new Calendar(new Date(), "cal");
    c.build();
    btnSet();
    showDay(c.getDate());
    $('#cal').fadeIn(500);

    $(window).on('scroll',function() {
        if($(window).scrollTop() > 180){
        $('.cal_memo').fadeIn(500);
        }
    });
    // let temp = "";
    // const tbl = document.getElementById('cal');
    function btnSet() {
        for (let i = 1; i <= 31; i++) {
            let date = $('#day' + i);
            if (date) {
                date.on('click', function () {
                    showDay(i);
                })
            }
        }
    }
    function showDay(date){
        // document.getElementById('memo_content').innerHTML = date;
      
    //     temp = tbl.rows[1].innerHTML;

    //     while (tbl.rows.length > 2) {
    //         tbl.deleteRow(tbl.rows.length - 1);
    //       }
        
    //  tbl.rows[1].innerHTML = "<td>MEMO</td><td></td><td></td><td></td><td></td><td></td><td></td>";

        $('#memo_day').html(`${c.getYear()}년 ${c.getMonth()} 월 ${date} 일`);
        // alert(date);
    }


    document.getElementById("p_cal").onclick = function (e) {
        e.preventDefault();
        c.isFirst = false;
        // tbl.rows[1].innerHTML = temp;
        //.css('-webkit-transform', 'translateX(120px)')

        // $('#cal').hide();
        c.setPrev();

        // $('#cal').fadeIn(700);
        btnSet();
    }
    document.getElementById("n_cal").onclick = function (e) {
        e.preventDefault();
        c.isFirst = false;
        // tbl.rows[1].innerHTML = temp;
        // $('#cal').hide();
        c.setNext();
        // $('#cal').fadeIn(700);
        btnSet();
    }
</script>