<form action="gogogo">
    <select name ="year">
        <option><%= year -5%></option>
        <option><%= year -4%></option>
        <option><%= year -3%></option>
        <option><%= year -2%></option>
        <option><%= year -1%></option>
        <option selected><%= year %></option>
        <option><%= year +1%></option>
        <option><%= year +2%></option>
        <option><%= year +3%></option>
        <option><%= year +4%></option>
        <option><%= year +5%></option>
    </select>
    <select name="month">
        <% for(let i = 1; i <= 12; i++){ %>
            <%  if( locals.month == i){%>
                <option selected><%=i %></option>
                <%  }else{%>
                <option><%=i %></option>
            <%  }%>
        <% } %>
    </select>
    <input type="submit" value="빌드" />
</form>


<table class="calenar" id="cal"></table>
<div class ="cal_memo">
    <h2>Memo</h2>
    <!-- <h3>dd</h3> -->
    <div id ="memo_day"></div>
    


    <input type ="text">
    <button>할일 추가</button>
</div>
<script src="js/calendar.js"></script>

<script>
    const c = new Calendar(new Date(), "cal");
    c.build();
    btnSet();
    showDay(c.getDate());

    function btnSet() {
        for (let i = 1; i <= 31; i++) {
            let date = $('#day' + i);
            if (date) {
                date.on('click', function () {
                    showDay(i);
                })
            }
        }
    }
    function showDay(date){
        // document.getElementById('memo_content').innerHTML = date;
        $('#memo_day').html(`${c.getYear()}년 ${c.getMonth()} 월 ${date} 일`);
       
        // alert(date);
    }


    document.getElementById("p_cal").onclick = function (e) {
        e.preventDefault();
        c.isFirst = false;
        //.css('-webkit-transform', 'translateX(120px)')

        // $('#cal').hide();
        c.setPrev();

        // $('#cal').fadeIn(700);
        btnSet();
    }
    document.getElementById("n_cal").onclick = function (e) {
        e.preventDefault();
        c.isFirst = false;

        // $('#cal').hide();
        c.setNext();
        // $('#cal').fadeIn(700);
        btnSet();
    }
</script>